<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Upload Image</h3>
        </div>
<div  nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="modal-body" id="modal-body" >
	      <%= render 'upload_image_form' %>
        </div>
        <div class="modal-footer">
            <div>
              <button ng-if="uploader.queue.length > 0" type="button" class="btn btn-primary" ng-click="uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                  Upload
              </button>
              <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </div>
        </div>
    </script>

    Result: {{ postText.text }}
    <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
</div>
<%= form_for post do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <div ng-controller="editorCtrl" squeeze>
      <div id="editor-wrapper" class="container">
        <% if @post.persisted? %>
          <textarea id="editor" data-ng-model="postText.text" elastic="postText.text" ng-init="text = <%= @post.body.to_json %>"></textarea>
        <% else %>
          New post
          <textarea id="editor" data-ng-model="postText.text" elastic="postText.text" ng-change="cachePostInput()" cache-post-text></textarea>
        <% end %>
        <div id="preview" sd-model-to-html="postText.text"></div>
      </div>
      <div class="field">
          <%= f.hidden_field :body, value: "{{postText.text}}" %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
