<%= form_for post do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div ng-controller="editorCtrl" squeeze>
    <div id="editor-wrapper" class="container">
      <textarea id="editor" data-ng-model="text" elastic></textarea>
      <div id="preview" sd-model-to-html="text"></div>
    </div>
    <div class="field">
        <%= f.hidden_field :body, value: "{{text}}" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
