<h1>Main</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Vote</th>
      <th>Body</th>
      <th>CreatedAt</th>
      <th>User name</th>
      <th>User email</th>
    </tr>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.vote %></td>
        <td><%= post.body %></td>
        <td><%= post.created_at %></td>
        <td><%= post.owner.username %></td>
        <td><%= post.owner.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
