<div ng-app="myApp">

<p>
  <strong>User:</strong>
  <%= @post.user.username %> <br/>
</p>


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <div ng=controller="editorCtrl">
    <div id="editor-wrapper" class="container">
        <div id="preview" markdown-to-html="<%= @post.body.to_json %>"></div>
    </div>
  </div>
</p>

<% if user_signed_in? and current_user == @post.user %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p>
  <strong>Comments:</strong> <br/>
  <ul>
    <li>
      <% if user_signed_in? %>
        <generic-comment title="Add Comment">
            <%= render 'new_comment_form', {post: @post, comment: @comment} %>
        </generic-comment>
      <% else %>
          <%= link_to 'Login ', new_user_session_path %>to add comment
      <% end %>
    </li>
    <% @post.comments.order_by(:created_at=>'desc').each do |comment| %>
        <li> 
            <%= comment.text %> <%= comment.created_at %> <%= comment.user.username %>
            <% if current_user == comment.user %>
                <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
                <generic-comment title="Edit">
                    <%= render 'edit_comment_form', {post: @post, comment: comment} %>
                </generic-comment>
            <% end %>
        </li>
    <% end %>
  </ul>
</p>
</div>
