<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>User:</strong> <br/>
  <%= @post.user.name %> <br/>
  <%= @post.user.email %>
</p>

<%= link_to 'Main', root_path %> |
<%= link_to 'Add comment', new_post_comment_path(@post) %> |
<% if logged_in? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= render 'new_comment_form', {post: @post, comment: @comment} %>

<p>
  <strong>Comments:</strong> <br/>
  <ul>
    <% @post.comments.each do |comment| %>
        <li> 
            <%= comment.text %> <%= link_to 'Show', post_comment_path(@post, comment) %> <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
            <%= render 'edit_comment_form', {post: @post, comment: comment} %>
        </li>
    <% end %>
  </ul>
</p>

