<!DOCTYPE html>
<html ng-cloak ng-app="myApp">
  <head>
    <title>Exaka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="//cdn.rawgit.com/balpha/pagedown/master/demo/browser/demo.css" />


	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
          <%= link_to "Exaka",  root_path, {:class=>'navbar-brand'} %>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Profile",  user_path(current_user) %></li>
              <li><%= link_to "Logout",  destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login",  new_user_session_path %></li>
              <li><%= link_to "Signup",  new_user_registration_path %></li>
            <% end %>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


  </head>

  <body>

    <div style="float: right">
        <%= link_to 'Posts', posts_path %>
        <%= link_to "New post",  new_post_path %>
    </div>

    <% flash.each do |key, value| %>
        <p id='<%= key %>'><%= value %> </p>
    <% end %>

    <%= yield %>

    <p>
	  <% if mobile_device? %>
	    <%= link_to "Full Site", :mobile => 0 %>
	  <% else %>
	    <%= link_to "Mobile Site", :mobile => 1 %>
	  <% end %>
    </p>

  </body>
</html>
